<div>
  <% @items.each do |item|%>
    <%= render partial: 'item', locals: { item: item } %>
  <% end %>
  <%#= render partial: 'item', collection: @items, as: :item %>
  <%#= render @items %>
</div>

