body {
  background: darkslateblue;
  color: white;
  width: 800px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  padding-bottom: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Impact';
}
