/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: 'Helvetica Neue';
  text-align: center;
  font-weight: 300;
  color: white;
  background: #7af;
}

h1, h2 { font-weight: 100; }

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.sun {
  position: fixed;
  top: -100px;
  left: -100px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: #fd0;
}

.hill {
  position: fixed;
  width: 1000px;
  height: 1000px;
  border-radius: 1000px;
}

.hill1 {
  bottom: -900px;
  left: -400px;
  background: forestgreen;
}

.hill2 {
  bottom: -890px;
  left: 100px;
  background: darkgreen;
}

.temp {
  font-size: 108px;
  font-weight: 100;
  margin: 0;
}

.weather {
  font-size: 48px;
  font-weight: 100;
  margin: 0;
}
